img {
  width: 100%;
  margin-top: 10px;
}

p.lists {
  color: var(--jp-brand);
  font-size: 115%;
  margin-bottom: 0;
  margin-top: 5px;

  & a {
    cursor: pointer;
    &, &:visited {
      color: var(--jp-brand);
    }
  }
}

@media only screen and (min-width: 768px) {
  .responsive {
    margin: auto;
    width: 50%;
  }
}
