<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Just Play Bologna</title>
  <meta name="viewport" content="width=device-width">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129007891-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-129007891-1');

  </script>

  <style>
    body {
      text-align: center;
      display: block;
      margin: 0;
    }
    .row.no-padding div.col {
      padding-left: 0;
      padding-right: 0;
    }
  </style>

</head>

<body>
  <div class="container-fluid">
    <div class="row no-padding">
      <div class="col">
        <img class="col-xs-6 xs-offset-3 mx-auto d-block home-img" src="https://www.justplaybo.it/assets/jp.png" width="180px" routerLink="/home">
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</body>

</html>
