<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row>
    <a routerLink="/home" class="brand-link" aria-label="Just Play Bologna - Home">
      @if (!isSmallScreen) {
        <img height="64" src="assets/jp_icon.png" alt="">
        <img height="64" src="assets/jp_name.png" alt="Just Play Bologna">
      } @else {
        <img height="56" src="assets/jp_icon.png" alt="Just Play Bologna">
      }
    </a>
    <span class="spacer"></span>
    <a href="https://www.facebook.com/justplaybologna" target="_blank" rel="noopener" mat-icon-button aria-label="Facebook"><mat-icon svgIcon="facebook"></mat-icon></a>
    <a href="https://www.instagram.com/justplaybologna/" target="_blank" rel="noopener" mat-icon-button aria-label="Instagram"><mat-icon svgIcon="instagram"></mat-icon></a>
    <a href="https://www.youtube.com/channel/UCNa0SvpXTR_AJ7Tr32N53TQ" target="_blank" rel="noopener" mat-icon-button aria-label="YouTube"><mat-icon svgIcon="youtube"></mat-icon></a>
    <a href="https://t.me/justplaybologna" target="_blank" rel="noopener" mat-icon-button aria-label="Telegram"><mat-icon svgIcon="telegram"></mat-icon></a>
    @if (!isSmallScreen) {
      <a href="https://github.com/JustPlayBo" target="_blank" rel="noopener" mat-icon-button aria-label="GitHub"><mat-icon svgIcon="github"></mat-icon></a>
      <a href="https://steamcommunity.com/groups/justplaybo" target="_blank" rel="noopener" mat-icon-button aria-label="Steam"><mat-icon svgIcon="steam"></mat-icon></a>
      <a href="https://discord.gg/89R5hpM" target="_blank" rel="noopener" mat-icon-button aria-label="Discord"><mat-icon svgIcon="discord"></mat-icon></a>
    }
  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar color="accent" class="mat-elevation-z1">
  <mat-toolbar-row>
    <a mat-raised-button color="primary" [routerLink]="['/support']"><mat-icon svgIcon="circle-multiple"></mat-icon> Sostienici!</a>
    @if (!isSmallScreen) {
      <span class="spacer"></span>
    }
    <a mat-button [routerLink]="['/list']"><mat-icon svgIcon="format-list-text"></mat-icon> I nostri giochi</a>
    @if (!isSmallScreen) {
      <a target="_blank" rel="noopener" href="https://sherlock.justplaybo.it" mat-button><mat-icon svgIcon="dice-multiple"></mat-icon> Sherlock Holmes</a>
    }
    <a [routerLink]="['/faq']" mat-button><mat-icon svgIcon="information"></mat-icon> FAQ</a>
    @if (!isSmallScreen) {
      <span class="spacer"></span>
    }
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
