<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>

<h2>La Nostra Collezione <span *ngIf="selectedList">- Lista {{selectedList}}</span></h2>
<div class="row no-padding div-custom-link" *ngIf="isSustainLinkVisible()">
  <div class="col">
    <a [routerLink]="['/support']" class="custom-link">Scopri di pi&ugrave; sulla campagna di sostegno a JustPlay</a>
  </div>
</div>
<table *ngIf="list" mat-table [dataSource]="list" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="gsx$name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Titolo </th>
    <td mat-cell *matCellDef="let element"> {{element.gsx$name.$t}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="gsx$players">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Giocatori </th>
    <td mat-cell *matCellDef="let element"> {{element.gsx$players.$t}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="gsx$duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Durata </th>
    <td mat-cell *matCellDef="let element"> {{element.gsx$duration.$t}} </td>
  </ng-container>
<!-- Symbol Column -->
<ng-container matColumnDef="gsx$complexity">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Complessit&agrave; </th>
  <td mat-cell *matCellDef="let element"> {{element.gsx$complexity.$t}} </td>
</ng-container>
<!-- Symbol Column -->
<ng-container matColumnDef="gsx$bggurl">
  <th mat-header-cell *matHeaderCellDef> Dettagli </th>
  <td mat-cell *matCellDef="let element"> <a href="{{element.gsx$bggurl.$t}}" target="_blank">BoardGameGeek</a> </td>
</ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="getClassName(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!--
<table style="width: 100%">
  
  <ng-container *ngFor="let game of list">
    <tr *ngIf="isRowVisible(game)">
      <td>{{game.gsx$name.$t}}</td>
      <td>{{game.gsx$players.$t}}</td>
      <td>{{game.gsx$duration.$t}}</td>
      <td [ngClass]="getClassName(game)">{{game.gsx$complexity.$t}}</td>
      <td><a href="{{game.gsx$bggurl.$t}}" target="_blank">Visit BGG</a></td>
    </tr>
  </ng-container>
</table>

-->
