@use '@angular/material' as mat;

@import 'https://fonts.googleapis.com/css?family=Material+Icons';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@include mat.core();

$justplaybo-primary-palette: (
  50: #f3e4e4,
  100: #e1bdbd,
  200: #cd9191,
  300: #b96464,
  400: #aa4343,
  500: #9b2324,
  600: #931f20,
  700: #891a1b,
  800: #7f1516,
  900: #6d0c0d,
  A100: #ffb0b0,
  A200: #ff7d7d,
  A400: #ff4a4b,
  A700: #ff3031,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$justplaybo-accent-palette: (
  50: #f8f6f6,
  100: #edeaea,
  200: #e2dddd,
  300: #d6cfcf,
  400: #cdc4c4,
  500: #c4b9b9,
  600: #beb2b2,
  700: #b6aaaa,
  800: #afa2a2,
  900: #a29393,
  A100: #ffffff,
  A200: #fff5f5,
  A400: #ffc2c2,
  A700: #ffa8a9,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$justplaybo-warn-palette: (
  50: #fef1f1,
  100: #fddbdb,
  200: #fbc4c4,
  300: #f9acac,
  400: #f89a9a,
  500: #f78888,
  600: #f68080,
  700: #f57575,
  800: #f36b6b,
  900: #f15858,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff6f6,
  A700: #ffdcdc,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: rgba(black, 0.87),
    800: rgba(black, 0.87),
    900: rgba(black, 0.87),
    A100: rgba(black, 0.87),
    A200: rgba(black, 0.87),
    A400: rgba(black, 0.87),
    A700: rgba(black, 0.87),
  )
);

$justplaybo-primary: mat.m2-define-palette($justplaybo-primary-palette, 500, 100, 800);
$justplaybo-accent: mat.m2-define-palette($justplaybo-accent-palette, 500, 100, 800);
$justplaybo-warn: mat.m2-define-palette($justplaybo-warn-palette, 500, 100, 800);

$justplaybo-typography: mat.m2-define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
);

$justplaybo-theme: mat.m2-define-light-theme((
  color: (
    primary: $justplaybo-primary,
    accent: $justplaybo-accent,
    warn: $justplaybo-warn,
  ),
  typography: $justplaybo-typography,
  density: 0,
));

@include mat.all-component-themes($justplaybo-theme);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  --primary-color: #9b2324;
  --primary-lighter-color: #e1bdbd;
  --primary-darker-color: #7f1516;

  --accent-color: #c4b9b9;
  --accent-lighter-color: #edeaea;
  --accent-darker-color: #afa2a2;

  --warn-color: #f78888;
  --warn-lighter-color: #fddbdb;
  --warn-darker-color: #f36b6b;
}

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';

  .mat-badge-content {
    font-family: 'Roboto';
  }
}

button.mat-menu-item {
  line-height: 24px !important;
}

a.mat-menu-item > mat-icon {
  margin-bottom: 14px;
}

.mat-icon svg {
  height: 24px;
  width: 24px;
}

.mat-step-icon-content .mat-icon svg {
  height: 100%;
  width: 100%;
}
